@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

header {
    margin: 0 120px;
}
.logo-name{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}
nav {
    display: flex;
    justify-content: space-between;

}
ul>li{
    list-style: none;
}
ul {
    display: flex;
    gap: 34px;
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}
.banner {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.banner-btn {
    padding: 8px;
    color: whitesmoke;
    background: #E02C6D;
    border: none;
    border-radius: 25px;
}

.banner-info {
    margin-top: 140px;
    margin-bottom: 145px;
}

.banner-img {
    margin-top: 80px;
    margin-bottom: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 16px;
}

.banner-subtitle {
    font-weight: 600;
    margin-bottom: 16px;
}

.item-img {
    width: 300px;
    height: 256px;
    padding: 16px 15px;
}

.item-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 6px;
}

.item-price {
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
    margin-bottom: 10px;
}

.filled,
.empty {
    width: 16px;
    height: 16px;
    color: gold;
    margin-bottom: 9px;
}

.empty {
    color: rgb(232, 214, 111);
}

.item-detail {
    font-weight: 700;
    font-size: 14px;
    color: #787885;
    width: 196px;
    margin: 0 auto;

}

.collection-title {
    text-align: center;
    margin-bottom: 30px;
}

.collection {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 100px;

}

.items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    justify-self: center;
}

.details {
    text-align: center;
}

.see-more {
    color: #E02C6DDE;
    font-weight: 700;
    border: none;
    text-align: right;
    margin-right: 25px;
    margin-top: 20px;
}

.more-btn {
    text-align: right;
}
.feature{
    display: flex;
    justify-content: space-between;
}